/**
 *
 * @package Maupassant
 * @author cho
 * @version 2.0
 * @link http://chopstack.com
 */

body {
	background-color: #FFF;
	color: #444;
	font-family: "monarcha","source-han-sans-simplified-c","TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;

	img{
		max-width: 100%;
		clear: both;
 		display: block;
 		margin:auto;
	}

}

.label-title{
	font-family: "monarcha","source-han-sans-simplified-c","TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

.body_container {
	padding: 0 60px;
	max-width: 1150px;
	margin: 0 auto;
}

.doc_comments{
	font-family:"monarcha","source-han-sans-simplified-c","ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif;
}

.content_container {
	padding-right: 50px;
	padding-top: 20px;

}
#fb_comments_container{
	margin-top: 35px;
	padding-top: 20px;
	border-top:  1px solid rgba(150, 150, 150, 0.2);
}
a, button.submit {
	color: #6E7173;
	text-decoration: none;
	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	transition: all .1s ease-in;
	font-family: "monarcha","source-han-sans-simplified-c","TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

a:hover, a:active {
	color: #DC317F;
	font-family: "monarcha","source-han-sans-simplified-c","TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
a:focus{
	outline:auto;
}
.clear {
	clear: both;
}
#header {
	padding: 35px 0 0;
	text-align: left;
	border-bottom: 1px solid #ddd;
	position: relative;
	.site-name {
		margin-bottom: 40px;
		h1 {
			padding: 0;
			margin: 0;
			height: 0;
			overflow: hidden;
		}
		#logo {
			font: bold 38px/1.12 "monarcha","source-han-sans-simplified-c","Times New Roman", Georgia, Times, sans-serif;
			color: #555;
			span, &:hover {
				color: #777;
			}
		}
		.description {
			margin: .2em 0 0;
			color: #999;
		}
	}
	#nav-menu {
		margin: 10px 0 -1px;
		padding: 0;
		position: absolute;
		width: 100%;
		right: 0;
		bottom: 0;
		text-align: right;

		.site_nav{
			list-style: none;
			padding: 0;
			margin: 0;
			height:2em;
			overflow:hidden;
			li{
				ul{
					display: none;
				}
			}
		}
		li {
			display: inline-block;
			a{
				padding: 1px 20px 0;
				line-height: 30px;
				display: inline-block;
				color: #444;
				font-size: 13px;
				border: 1px solid transparent;
				&:hover {
					border-bottom-color: #444;
				}
				&.current{
					border: 1px solid #ddd;
					border-bottom-color: #fff;
				}
			}

		}
	}
}


#sidebar {
	border-left: 1px solid #ddd;
	padding-left: 35px;
	margin-top: 45px;
	padding-bottom: 20px;
	word-wrap: break-word;
	font-family:"monarcha","source-han-sans-simplified-c","ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif;

	.widget {
		margin-bottom: 30px;
		.widget-title {
			color: #6E7173;
			line-height: 2.7;
			margin-top: 0;
			font-size: 16px;
			border-bottom: 1px solid #ddd;
			display: block;
			font-weight: normal;
		}
		ul {
			list-style: none;
			padding: 0;
			li {
				margin: 5px 0;
				line-height: 1.5;
			}
		}
	}

	#search {
		position: relative;
		overflow: hidden;
		input {
			padding: 12px 30px 11px 15px;
			line-height: 1.5;
			border:1px solid #ddd;
			width:100%;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
			outline:none;
		}
	}
}


/* title for search result or tagged posts*/
.label-title {
	margin-top: 1.1em;
	font-size: 20px;
	font-weight: normal;
	color: #888;
}


.post {
	padding: 25px 0 15px;
	.post-title {
		margin: 0;
		color: #555;
		text-align: left;
		font: bold 25px/1.1 "monarcha","source-han-sans-simplified-c","ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif;
		a {
			color: #555;
		}
	}
	.post-meta {
		font-family:"monarcha","source-han-sans-simplified-c","ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif;
		padding: 0;
		margin: 9px 0 0;
		color: #999;
		text-align: left;
		display: block;
		text-indent: .15em;
	}
	.post-content {
		font-size: 15px;
		line-height: 1.77;
		color: #444;
		padding-top: 27px;
		overflow: visible;
		font-family:"monarcha","source-han-sans-simplified-c","ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif;
			a{
					color:#444;
					&:hover{
						color:#DC317F;
						}
					}	
			.toc{
					font-family:"monarcha","source-han-sans-simplified-c","ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif;
					background-color: transparent; !important
					border-radius:0 !important;
					border: 0.5px solid #eaeaea !important;
					a{
						&:hover{
							color:#DC317F;
						}
					}
			}	
	}
	.tags {
		padding-bottom: 1em;
		font-family:"monarcha","source-han-sans-simplified-c","ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif;
		a {
			margin-right: .5em;
			color:#B7B7B7;
			&:before {
				content: '#';
				display: inline-block;
			}
		}
	}
}
.post-page .post-content{
	padding-top: 35px;
		img{
		max-width:100%;
		text-align: center;
		}
}

.cle{
	padding-top: 35px;
	margin-bottom: 1.4em;
	font-size: 15px;
		line-height: 1.77;
		color: #444;
		padding-top: 27px;
		overflow: visible;
		font-family:"monarcha","source-han-sans-simplified-c","ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif;
		a{
					color:#444;
					&:hover{
						color:#DC317F;
						}
					}	
		form{
			margin-bottom: 1.4em;
		}
}

.tijiao{
margin:1em 0;
display:block;
clear:both;
height:1.9em;
background-color: transparent;
border: 1px solid #ddd;
	&:hover {
				border-color: #888;
			}
}

p.md_block{
	padding:0;
	margin:1em 0;
}

.intro{
	margin:1em 0;
}

.pager {
	border-top: 1px solid #ddd;
	margin-top: 25px;
	margin-bottom: 15px;
	padding: 25px 0;
	font-size: 14px;
	a {
		border-radius: 0;
		height: 25px;
		line-height: 25px;
		padding: 5px 20px 30px 20px;
		border: 0.5px solid #DDD;
		float: left;
		&.next {
			float: right;
		}
		&:hover {
			border-color: #DC317F;
		}
	}
}

#footer {
	padding: .8em 0 3.6em;
	margin-top:1em;
	line-height: 1.5;
	color: #999;
	span {
		font-size: .9em;
	}
}

/* for different pages starts*/

.post-archive {
	font-size: 15px;
	line-height: 2;
	padding-bottom: .8em;
	h2{
		margin: 0;
		font: bold 25px / 1.1 "monarcha","source-han-sans-simplified-c","ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif;
	}
	.date {
		padding-right: .7em;
	}
}


#categories {
	padding: 0;
	margin: 0;

	.category{
		margin: 10px 0 20px 0;
		text-align: center;
		a {
			text-align: left;
			display: inline-block;
			border: 1px solid #ddd;
			padding: 20px 40px;
			min-width: 100px;
			h3 {
				margin: 0;
			}
			&:hover {
				border-color: #888;
			}
		}
	}
}

/* for different pages ends*/


/*<middle*/
@media print, screen and (max-width: 48em) {
	.body_container {
		padding: 0 30px;
	}
	.content_container {
		padding-right: 15px;
	}
	#sidebar {
		display: none;
	}
	#header {
		.site-name {
			margin-bottom: 60px;
			text-align: center;
		}

		#nav-menu a{
			padding:0 15px;
			line-height:27px;
			height:27px;
			font-size:13px;
		}
	}

}

/*<small*/
@media print, screen and (max-width: 35.5em) {
	.body_container {
		padding: 0 20px ;
	}
	.content_container {
		padding-right: 0;
	}
}


.hidden2{
	display: none;
}


.markdown{

	blockquote {
		border-left: none;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin: 2.5em 0;
		padding: 0 0 0 50px;
		font-style: italic;
		color: #555;
	}
	blockquote:before {
		content: "\201C";
		display: block;
		font-family: times;
		font-style: normal;
		font-size: 48px;
		color: #444;
		font-weight: bold;
		line-height: 30px;
		margin-left: -50px;
		position: absolute;
	}
	strong,b{
		padding: 1px 2px;
		background-color: #fcfcf0;
		font-weight: bold;
	}
	
	em{
	    padding: 1px 2px;
	    background-color: #fcfcf0;
	    font-style:italic;
	}
	
	pre{
		color:#DC317F;
		margin:2em 0;
		font-family:"monarcha","source-han-sans-simplified-c","ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif;
		background-color: transparent;
		border-radius:0;
		border: 0.5px solid #eaeaea;
	}
	code{
		font-family:"monarcha","source-han-sans-simplified-c","ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif;
		background-color: transparent;
		border-radius:0;
		border: 0.5px solid #eaeaea;
		color:#DC317F;
	}
	table{
		display:block;
		max-width:100%;
		overflow:hidden;
	}
}


	